.App {
  text-align: center;

}

#old-journal-entries{
  border: 1px solid green;
  height: 500px;
  overflow: scroll;

}

#new-journal-entry {
  border: 1px solid red;
}

#journal-text-area{
  width: 95%;
  height: 80%;
}

#journalside{
  margin-top: 5px;
}